     {% extends './layout.html' %}
     {% block main %}
     <div class=" layui-tab layui-tab-card site-demo-title x-main">
         <ul class="pager">
             <li style="float: left;" class="previous"><a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/reserve?page={{page-1}}">上一页</a></li>
             <li
                 style="margin-left:10px;width:300px;height:30px;line-height: 30px; text-align: center;background: gray;color:white;border-radius: 10px; float: left;">
                 共{{count}} 条，每页 {{limit}} 条，共 {{pages}} 页，第 {{page}} 页</li>
             <li style=" float: right;" class="next"> <a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/reserve?page={{page+1}}">下一页 </a></li>
         </ul>
         <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"></i>结婚美图</button>
             <span class="x-right" style="line-height:40px">共有数据：{{count}} 条</span></xblock>
         <table class="layui-table">
             <tr>
                 <th>用户名</th>
                 <th>物品</th>
             </tr>
             {% for photo in reserves %}
             <tr>
                <td>{{photo.username}}</td>
                <td>
                    {% for good in photo.goods %}
                    <div>
                        套餐标题:{{ good.title}}
                        套餐价格:{{ good.money}}
                        店铺地址:{{ good.place}}
                        照片示例:<img src="/{{good.url}}" alt="" style="height:100px;height: 100px;border-radius: 10px;">
                    </div>
                    <hr>
                    {% endfor %}
                </td>
             </tr>
             {% endfor %}
         </table>
     </div>
     {% endblock %}