     {% extends '../layout.html' %}
     {% block main %}
     <div class=" layui-tab layui-tab-card site-demo-title x-main">
         <ul class="pager">
             <li style="float: left;" class="previous"><a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/hotel?page={{page-1}}">上一页</a></li>
             <li
                 style="margin-left:10px;width:300px;height:30px;line-height: 30px; text-align: center;background: gray;color:white;border-radius: 10px; float: left;">
                 共{{count}} 条，每页 {{limit}} 条，共 {{pages}} 页，第 {{page}} 页</li>
             <li style=" float: right;" class="next"> <a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/hotel?page={{page+1}}">下一页 </a></li>
         </ul>
         <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"></i>婚宴酒店</button>
             <button class="layui-btn" onclick="banner_add('添加用户','banner-add.html','600','500')"><a
                     href="/admin/hotelAdd" style="color:white;"><i class="layui-icon">&#xe608;</i> 添加</a></button>
             <span class="x-right" style="line-height:40px">共有数据：{{count}} 条</span></xblock>

         <table class="layui-table">
             <tr>
                 <th>序号</th>
                 <th>标题</th>
                 <th>地址</th>
                 <th>价格</th>
                 <th>照片</th>
                 <th>操作</th>
             </tr>
             {% for hotel in hotels %}
             <tr>
                 <td>{{hotel.num}}</td>
                 <td>{{hotel.title}}</td>
                 <td>{{hotel.place}}</td>
                 <td>{{hotel.money}}</td>
                 <td><img src="/{{hotel.url}}" alt="" style="height:100px;height: 100px;border-radius: 10px;"></td>
                 <td>
                     <a href="/admin/hotel/update?id={{hotel._id.toString()}}">修改</a>
                     <a href="/admin/hotel/delete?id={{hotel._id.toString()}}"><i
                             class="layui-icon">&#xe640;</i>删除</a>
                 </td>
             </tr>
             {% endfor %}
         </table>
     </div>
     {% endblock %}