{% extends '../layout.html' %}
{% block main %}
<div id="myAddressWrap">
    <h1>新增地址</h1>
    {% if userInfo._id %}
    <form action="/mySet/addressAdd" method="post">
        <div id="addressCss" style="position: relative;">
            <div class="address-name">
                <h2 style="margin-top: 0;">收货人姓名:</h2>
                <input type="text" name="addressName" placeholder="请输入收件人姓名">
            </div>
            <div class="address-phone">
                <h2 style="margin-top: 0;">电话号码:</h2>
                <input type="text" name="addressPhone" placeholder="请输入收件人电话" />
            </div>
            <div class="address-address">
                <h2 style="margin-top: 0;">收货地址:</h2>
                <input name="addressDes" placeholder="请输入详细地址" style="margin-top: 0;width: 600px;">
                </input>
            </div>
            <button type="submit" class="btn btn-success btn-lg" id="btn-address">提交</button>
        </div>
    </form>
    <div id="backBtn-myset" style="margin-top: 150px;">
        <a href="javascript:history.go(-1)">返回列表</a>
    </div>
    {% else %}
    <h1>请先登录</h1>
    {% endif %}
</div>
{% endblock %}