     {% extends '../layout.html' %}
     {% block main %}
     <div class=" layui-tab layui-tab-card site-demo-title x-main" style="overflow: scroll;">
         <ul class="pager">
             <li style="float: left;" class="previous"><a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/ideaOne?page={{page-1}}">上一页</a></li>
             <li
                 style="margin-left:10px;width:300px;height:30px;line-height: 30px; text-align: center;background: gray;color:white;border-radius: 10px; float: left;">
                 共{{count}} 条，每页 {{limit}} 条，共 {{pages}} 页，第 {{page}} 页</li>
             <li style=" float: right;" class="next"> <a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/ideaOne?page={{page+1}}">下一页 </a></li>
         </ul>
         <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"></i>结婚攻略一</button>
             <button class="layui-btn" onclick="banner_add('添加用户','banner-add.html','600','500')"><a
                     href="/admin/ideaOneAdd" style="color:white;"><i class="layui-icon">&#xe608;</i> 添加</a></button>
             <span class="x-right" style="line-height:40px">共有数据：{{count}} 条</span></xblock>

         <table class="layui-table" >
             <tr>
                 <th>序号</th>
                 <th>标题</th>
                 <th>照片</th>
                 <th>内容</th>
                 <th>操作</th>
             </tr>
             {% for ideaOne in ideaOnes %}
             <tr>
                 <td>{{ideaOne.num}}</td>
                 <td>{{ideaOne.title}}</td>
                 <td><img src="/{{ideaOne.url}}" alt="" style="height:100px;border-radius: 10px;"></td>
                 <td>
                     <p>{{ideaOne.content}}</p>
                 </td>
                 <td>
                     <a href="/admin/ideaOne/update?id={{ideaOne._id.toString()}}">修改</a>
                     <a href="/admin/ideaOne/delete?id={{ideaOne._id.toString()}}"><i
                             class="layui-icon">&#xe640;</i>删除</a>
                 </td>
             </tr>
             {% endfor %}
         </table>
     </div>
     {% endblock %}