.wrap {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
}

/*ͨ������*/
.nav {
    width: 100%;
    min-width: 1200px;
    height: 80px;
    background: #fff;
    position: fixed;
    box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 1200px;
    min-width: 1200px;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 260px;
    height: 60px;
    position: relative;
}

.nav-left .logo a img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.logo a {
    display: block;
}

.nav-left .logo a:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-left .logo a:nth-child(2) {
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 60px;
    top: 0;
    color: #FF1A2A;
    font-weight: bolder;
}

.nav-left .logo p {
    height: 20px;
    font-size: 8px;
    width: 80px;
    position: absolute;
    top: 30px;
    left: 60px;
    text-align: center;
    color: #666;
}

.nav-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.select-bar {
    justify-content: flex-start;
    height: 100%;
    padding-right: 20px;
}

.select-bar div {
    height: 50px;
    float: left;
}

.select-item {
    position: relative;
    margin: 0 16px;
    height: 100%;
    font-size: 16px;
    line-height: 48px;
    cursor: pointer;
}

.select-item a {
    color: gray;
}

.select-item:hover a {
    color: rgb(248, 50, 68);
}

.select-item:hover {
    border-bottom: 2px solid transparent;
    border-bottom-color: rgb(248, 50, 68);
}
.invite {
    position: relative;
}

.invite span {
    display: block;
    width: 28px;
    height: 15px;
    background: orange;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    position: absolute;
    top: 0;
    left: 20px;
}

.inp {
    position: relative;
    width: 220px;
    height: 40px;
    border-radius: 2px;
}

.inp input {
    border: none;
    outline: none;
    position: absolute;
    left: 0;
    top: -6px;
    padding: 0 0 0 14px;
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #f5f5f5;
    color: #333 !important;
    font-size: 14px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Microsoft YaHei';
}

.inp span {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -6px;
    right: 0;
    background: rgb(248, 50, 68);
    color: white;
    border-radius: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
}

/* 导航结束 */
.jieshao-wrap {
    width: 100%;
    height: 80px;
    margin-top: 80px;
}

.jieshao {
    width: 1200px;
    min-width: 1200px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bolder;
}
/* 锚点开始 */
.maodian {
    width: 50px;
    height: 150px;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 50%;
    margin-top: -75px;
}

.maodian .zixun {
    width: 50px;
    height: 80px;
    margin-bottom: 10px;
    background: #222;
    border-radius: 10px;
}

.maodian .zixun p {
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
}

.maodian .zixun img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.maodian .ding {
    width: 50px;
    height: 50px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
}

.maodian .ding a {
    display: block;
    width: 30px;
    height: 30px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    background: #222;
    transform: rotate(45deg);
    margin-top: 20px;
    margin-left: 10px;
}

/* 锚点结束 */
/* 结婚流程开始 */
.process-wrap {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
   background: url(//qnm.hunliji.com/o_1d5r6cgq41s6jgqbc9nv651dna9.jpg) no-repeat top center;
}

.process {
    width: 1200px;
    height: 310px;
    background: #fff;
    box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.04);
    margin:80px auto;
}
.process dl{
   width: 350px;
   height: 310px;
   float: left;
   margin-left: 40px;
}
.process dl dt{
    width: 100%;
    height: 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 50px;
}
.process dl dd{
    width: 100%;
    height: 120px;
    padding-top: 20px;
    border-top:2px solid #F83244;
    margin-top: 30px;
}
.process dl dd a{
        width: 64px;
        line-height: 40px;
        float: left;
        margin-right: 24px;
        color: #333;
        font-size: 16px;
}
.baike-wrap{
    width: 100%;
    height: 300px;
}
.baike{
    width: 1200px;
    height: 300px;
    /* box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.06); */
    margin:50px auto;
    position: relative;
}
.titles{
    width: 1200px;
    height: 60px;
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}
.titles li{
     font-size: 20px;
     font-weight: bold;
     color: #333333;
     cursor: pointer;
}
.titles li.active{
    color:#F83244;
    border-bottom: 2px solid #F83244;
}
.contents{
    height: 240px;
    width: 1200px;
    text-align: center;
    line-height: 240px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;

    color:white;
    font-size: 50px;
}
.baike ul.current{
    display: block;
}
.contents li{
   width: 285px;
   height: 240px;    
   float: left;
   margin-left: 20px;
   position: relative;
}
.contents li:nth-child(1){
   margin-left: 0;
}
.contents li a img{
   width: 285px;
   height: 180px;
}
.desc{
   width: 230px;
   height: 45px;
   font-size: 14px;
   color:black;
   line-height: 20px;
   position: absolute;
   top: 190px;
   left: 0;
   padding-left: 10px;
}


/* 结婚流程结束 */
/* 结婚攻略开始 */
.ask-wrap {
    width: 100%;
    height: auto;
}

.ask {
    width: 1200px;
    height: 450px;
    margin: 0 auto;
}

.ask-title {
    width: 100%;
    height: 100px;
    font-size: 32px;
    line-height: 100px;
    text-align: center;
}

.ask-smalltitle {
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
}

.ask-content {
    width: 1200px;
    height: 260px;
    overflow: hidden;
    box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.06);
}

.ask-content ul {
    width: 100%;
    height: 240px;
    margin: 10px 0;
}

.ask-content ul li {
    width: 1100px;
    height: 40px;
    font-size: 15px;
    text-align: left;
    padding: 0 50px;
    line-height: 40px;
}

.ask-content ul li a {
    color: #111;
}
/* 结婚攻略结束 */
/* footer开始 */
.foot-wrap {
    width: 100%;
    height: 250px;
    background: #222;
    margin-top: 100px;
}

.foot {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
}

.foot-list {
    width: 1200px;
    margin: 0 auto;
    overflow: visible;
    padding: 20px 0;
    height: 210px;
}

.foot_list_last {
    width: 96px;
    height: 210px;
    float: left;
}

.foot_list_last img {
    width: 100%;
    height: 96px;
}

.foot_list_box {
    width: 160px;
    height: 210px;
    float: left;
    margin-right: 60px;
}

h4 {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: white;
    text-align: center;
}

.foot_list_box li {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}

.foot_list_box li a {
    color: #ccc;
}

/* footer结束 */