{% extends '../layout.html' %}

{% block main %}
<div class="jieshao-wrap">
    <div class="jieshao">
        结婚>婚姻登记
    </div>
</div>
<!-- 晒幸福开始 -->
<div class="showPic-wrap pubb-wrap">
    <div class="showPic pubb">
        <div class="pubb-title">
            <h1>钦州市结婚登记处</h1>
        </div>
        <div class="pubb-get">
            <ul>
               <li style="height: 160px; margin-bottom: 50px;">
                <div style="font-size: 18px;font-weight: bolder;padding-left: 20px;border-left: 2px solid #ff6767;">钦州市钦南区民政局婚姻登记处</div>
                <div style="margin-top: 10px;">时间：周一到周五（法定节假日除外）上午9：00-11：30 下午14：00-15：00</div>
                <div style="margin-top: 10px;">电话：无</div>
                <div style="margin-top: 10px;">地址：二马路与龙墩路交叉口西南50米</div>
                <img src="/images/zheng1.png" alt="" style="float: right;margin-top: -120px;margin-right: 50px;border-radius: 8px;">
               </li>
               <div><iframe width="604" height="690" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/s/7dLIFb"></iframe></div>
               <li style="height: 150px;">
                    <div style="font-size: 18px;font-weight: bolder;padding-left: 20px; border-left: 2px solid #ff6767;">钦北区民政局婚姻登记处</div>
                    <div style="margin-top: 10px;">时间：周一到周五（法定节假日除外）上午9：00-11：30 下午14：00-15：00</div>
                    <div style="margin-top: 10px;">电话：无</div>
                    <div style="margin-top: 10px;">地址：清水窝一巷与福环路交叉口西50米</div>
                     <img src="/images/zheng2.jpg" alt="" style="float: right;margin-top: -120px;margin-right: 50px;border-radius: 8px;">
                </li>
                <div><iframe width="604" height="644" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/s/FdLIFb"></iframe></div>
                <li style="height: 600px;">
                    <div style="font-size: 20px;font-weight: bolder;padding-left: 20px;border-left: 2px solid #ff6767;margin-bottom: 20px;">领证注意事项</div>
                    <img src="/images/tiaojian1.png" alt="" style="box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.08); width: 350px; height: 500px;margin-right: 15px;">
                    <img src="/images/tiaojian2.png" alt="" style="box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.08); width: 350px; height: 500px;margin-right: 15px;">
                    <img src="/images/tiaojian3.png" alt="" style="box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.08); width: 350px; height: 500px;margin-right: 0;">
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 晒幸福结束 -->
{% endblock %}