{% extends 'layout.html' %}
{% block main %}
        <div class="jieshao-wrap">
            <div class="jieshao">
                结婚>婚庆酒店
            </div>
        </div>
        <div class="jiudian-wrap" >
            <div class="jiudian" >
                 <h1>推荐给你各种风格的婚宴酒店</h1>
                 <ul style="overflow:hidden;clear:both;">
                     {% for hotel in hotels %}
                       <li><a href="/hoteldes?hotelid={{hotel.id}}"><img src="\{{hotel.url}}" alt=""></a>
                           <div class="descrip">
                               <p>{{hotel.title}}</p>
                               <span class="place">{{hotel.place}}</span>
                               {% if !userInfo._id %}
                                    <span class="status1"><img src="/iconfont/shoucang2.svg" alt="">
                                    </span>
                               {% else %}
                                    <span class="status"><img src="/iconfont/shoucang2.svg" alt="">
                                    </span>
                                    <input type="hidden" value="{{hotel.id}}" id="collectionId">
                                    <input type="hidden" value="{{hotel.title}}" id="collectionId">
                                    <input type="hidden" value="{{hotel.money}}" id="collectionId">
                                    <input type="hidden" value="{{hotel.place}}" id="collectionId">
                                    <input type="hidden" value="{{hotel.url}}" id="collectionId">
                               {% endif %}
                               <span class="money">{{hotel.money}}/桌</span>
                           </div>
                       </li>
                     {% endfor %}
                 </ul>
            </div>
        </div>
{% endblock %}