{% extends 'layout.html' %}

{% block main %}
        <div class="jieshao-wrap">
            <div class="jieshao">
                结婚>结婚攻略
            </div>
        </div>
         <!--结婚流程-->
         <div class="process-wrap">
             <div class="process">
                 <dl>
                     <dt>婚前事宜</dt>
                     <dd>
                         <a>见家长</a>
                         <a>求婚</a>
                         <a>领证</a>
                         <a>吉日</a>
                         <a>订婚</a>
                         <a>婚前准备</a>
                         <a>彩礼</a>
                         <a>习俗</a>
                         <a>法规</a>
                     </dd>
                 </dl>
                 <dl>
                     <dt>备婚中</dt>
                     <dd>
                         <a>婚纱摄影</a>
                         <a>婚纱礼服</a>
                         <a>婚庆公司</a>
                         <a>司仪</a>
                         <a>跟妆</a>
                         <a>婚车</a>
                         <a>婚礼用品</a>
                         <a>请柬</a>
                     </dd>
                 </dl>
                 <dl>
                     <dt>举行婚礼</dt>
                     <dd>
                         <a>婚房布置</a>
                         <a>婚礼布置</a>
                         <a>新郎新娘</a>
                         <a>婚礼音乐</a>
                         <a>婚礼致辞</a>
                         <a>结婚誓言</a>
                         <a>婚礼游戏</a>
                         <a>结婚祝福</a>
                     </dd>
                 </dl>
             </div>
         </div>
         <div class="baike-wrap">
             <div class="baike">
                  <ul class="titles">
                    <li data-id="1" class="active">婚前事宜</li>
                    <li data-id="2">拍婚纱照</li>
                    <li data-id="3">婚庆指南</li>
                    <li data-id="4">婚礼现场</li>
                    <li data-id="5">结婚邀请</li>
                    <li data-id="6">美妆洗护</li>
                    <li data-id="7">结婚用品</li>
                    <li data-id="8">婚礼时光</li>
                    <li data-id="9">备孕怀孕</li>
                  </ul>    
                  <ul data-id="1" class="contents current">
                    {% for ideaOne in ideaOnes %}
                      {% if ideaOne.num>='1' && ideaOne.num<='4' %}
                       <li>
                           <a href="/ideades?ideaid={{ideaOne.id}}&&n=1"><img src="\{{ideaOne.url}}" alt=""></a>
                           <a class="desc">{{ideaOne.title}}</a>
                       </li>
                     {% endif %}
                    {% endfor %}
                  </ul>  
                  <ul data-id="2" class="contents">
                       {% for ideaOne in ideaOnes %}
                       {% if ideaOne.num>='5' && ideaOne.num<='8' %}
                       <li>
                           <a href="/ideades?ideaid={{ideaOne.id}}&&n=1"><img src="\{{ideaOne.url}}" alt=""></a>
                           <a class="desc">{{ideaOne.title}}</a>
                       </li>
                       {% endif %}
                       {% endfor %}
                  </ul>
                  <ul data-id="3" class="contents">
                      {% for ideaOne in ideaOnes %}
                      {% if ideaOne.num>='9' && ideaOne.num<='12' %}
                      <li>
                          <a href="/ideades?ideaid={{ideaOne.id}}&&n=1"><img src="\{{ideaOne.url}}" alt=""></a>
                          <a class="desc">{{ideaOne.title}}</a>
                      </li>
                      {% endif %}
                      {% endfor %}
                  </ul>
                  <ul data-id="4" class="contents">
                      {% for ideaOne in ideaOnes %}
                      {% if ideaOne.num>='13' && ideaOne.num<='16' %}
                      <li>
                          <a href="/ideades?ideaid={{ideaOne.id}}&&n=1"><img src="\{{ideaOne.url}}" alt=""></a>
                          <a class="desc">{{ideaOne.title}}</a>
                      </li>
                      {% endif %}
                      {% endfor %}
                  </ul>
                  <ul data-id="5" class="contents">
                      <li>
                           <a><img src="images/idea/id5_1.jpg" alt=""></a>
                           <a class="desc">2020最新婚礼唯美邀请词</a>
                       </li>
                  </ul>
                  <ul data-id="6" class="contents">
                      <li>
                          <a><img src="images/xihu0.jpg" alt=""></a>
                           <a class="desc">十大美白面膜推荐</a>
                       </li>
                  </ul>
                  <ul data-id="7" class="contents">
                      <li>
                           <a><img src="images/idea/id7_1.jpg" alt=""></a>
                           <a class="desc">鱼尾婚纱适合什么身材</a>
                       </li>
                  </ul>
                  <ul data-id="8" class="contents">
                      <li>
                           <a><img src="images/idea/id8_1.jpg" alt=""></a>
                           <a class="desc">元旦去哪里玩最舒服 2020元旦的旅行手册</a>
                       </li>
                  </ul>
                  <ul data-id="9" class="contents">
                      <li>
                           <a><img src="images/lvpai1.jpg" alt=""></a>
                           <a class="desc">2020年4月26日适合结婚吗 2020年4月黄历结婚好吗</a>
                       </li>
                  </ul>
             </div>
             
         </div>
         <!--结婚流程结束-->
           <!-- 结婚攻略 -->
           <div class="ask-wrap">
               <div class="ask">
                   <div class="ask-title">
                       <h1>结婚攻略</h1>
                   </div>
                   <p class="ask-smalltitle">结婚流程 / 拍婚纱照 / 婚礼布置 / 婚宴攻略 / 婚房布置 / 拍婚纱照 / 婚庆准备 / 婚品采购 / 婚纱礼服 / 备婚流程</p>
                   <div class="ask-content">
                       <ul>
                           {% for ideaTwo in ideaTwos %}
                           <li><a href="/ideades?ideaid={{ideaTwo.id}}&&n=2">{{ideaTwo.title}}</a></li>
                           {% endfor %}
                       </ul>
                   </div>
               </div>
           </div>
           <!-- 结婚攻略结束 -->
{% endblock %}