{% extends 'layout.html' %}
{% block main %}
         <div class="jieshao-wrap">
             <div class="jieshao">
                 结婚>结婚商城
             </div>
         </div>
          <!--旅拍套餐-->
          <div class="lvpai-wrap">
              <div class="lvpai">
                  <div class="lvpai-top">
                      <h1>旅拍套餐推荐</h1>
                  </div>
                  <div class="lvpai-bottom">
                        {% for lvpai in lvpais %}
                        <div class="lvpai-bottom-show lvpai-bottom-one">
                                <a href="/lvpaides?lvpaiid={{lvpai.id}}">
                                <img src="/{{lvpai.url}}" alt="" />
                                </a>
                                <div class="meng2"></div>
                                <div class="lvpai-bottom-xia">
                                    <p class="lvpai-btitle">{{lvpai.title}}</p>
                                    <p class="lvpai-bstore">{{lvpai.place}}</p>
                                    <span class="lvpai-bmoney">{{lvpai.money}}</span>
                                    {% if !userInfo._id %}
                                    <span class="status1">预定<img src="/iconfont/tianjia.svg" alt="">
                                    </span>
                                    {% else %}
                                    <span class="status">预定<img src="/iconfont/tianjia.svg" alt="">
                                    </span>
                                    <input type="hidden" value="{{lvpai.id}}" id="collectionId">
                                    <input type="hidden" value="{{lvpai.title}}" id="collectionId">
                                    <input type="hidden" value="{{lvpai.money}}" id="collectionId">
                                    <input type="hidden" value="{{lvpai.place}}" id="collectionId">
                                    <input type="hidden" value="{{lvpai.url}}" id="collectionId">
                                    {% endif %}
                                </div>
                        </div>
                        {% endfor %}
                  </div>
              </div>
          </div>
          <!--旅拍套餐结束-->
          <!--旅拍城市-->
          <div class="lvpaicity-wrap">
              <div class="lvpaicity">
                  <div class="lvpaicity-top">
                      <h1>热门旅拍城市</h1>
                  </div>
                  <div class="lvpaicity-bottom">
                      <ul>
                          {% for city in citys %}
                          <li><a href="/citydes?cityid={{city.id}}"><img src="/{{city.url}}" alt="" />
                                  <div class="meng3">{{city.title}}</div>
                              </a></li>
                          {% endfor %}
                      </ul>
                  </div>
                  <div class="lvpaicity-more">
                      <a href="###">更多旅拍圣地 <span></span></a>
                  </div>
              </div>
          </div>
          <!--旅拍城市结束-->
          <!-- 进选套餐开始 -->
          <div class="taocan-wrap">
              <div class="taocan">
                  <h1 class="tit">精选套餐推荐</h1>
                  <p class="tit">婚庆价目表，婚庆套餐报价看这里</p>
                  <ul class="tablist">
                      <li class="tab1 selected">婚礼策划</li>
                      <li class="tab2">婚纱摄影</li>
                      <li class="tab3">婚礼跟拍</li>
                      <li class="tab4">婚礼摄影</li>
                  </ul>
                  <div class="tabb">
                  <ul class="tab-select selected">
                       {% for mallTao in mallTaos %}
                        {% if mallTao.num>='1' && mallTao.num<='4' %}
                       <li>
                           <a href="/malldes?mallid={{mallTao.id}}&&n=3"><img src="\{{mallTao.url}}" alt=""></a>
                           <div class="miaoshu">
                               <h3>11{{mallTao.title}}</h3>
                               <p>{{mallTao.name}}</p>
                               <span>{{mallTao.money}}起</span>
                           </div>
                       </li>
                       {% endif %}
                       {% endfor %}
                  </ul>
                  <ul class="tab-select">
                        {% for mallTao in mallTaos %}
                          {% if mallTao.num>='5' && mallTao.num<='8' %}
                        <li>
                           <a href="/malldes?mallid={{mallTao.id}}&&n=3"><img src="\{{mallTao.url}}" alt=""></a>
                           <div class="miaoshu">
                               <h3>2{{mallTao.title}}</h3>
                               <p>{{mallTao.name}}</p>
                               <span>{{mallTao.money}}起</span>
                           </div>
                       </li>
                        {% endif %}
                        {% endfor %}
                  </ul>
                  <ul class="tab-select">
                     {% for mallTao in mallTaos %}
                     <li>
                         <a href="/malldes?mallid={{mallTao.id}}&&n=3"><img src="\{{mallTao.url}}" alt=""></a>
                         <div class="miaoshu">
                             <h3>33{{mallTao.title}}</h3>
                             <p>{{mallTao.name}}</p>
                             <span>{{mallTao.money}}起</span>
                         </div>
                     </li>
                     {% endfor %}
                  </ul>
                  <ul class="tab-select">
                        {% for mallTao in mallTaos %}
                        <li>
                            <a href="/malldes?mallid={{mallTao.id}}&&n=3"><img src="\{{mallTao.url}}" alt=""></a>
                            <div class="miaoshu">
                                <h3>44{{mallTao.title}}</h3>
                                <p>{{mallTao.name}}</p>
                                <span>{{mallTao.money}}起</span>
                            </div>
                        </li>
                        {% endfor %}
                  </ul>
                  </div>
              </div>
          </div>
          <!-- 进选套餐结束 -->
          <!-- 婚庆商家推荐开始 -->
          <div class="taocan-wrap">
              <div class="taocan">
                  <h1 class="tit">婚庆商家推荐</h1>
                  <p class="tit">新人都喜欢找这些婚庆公司策划婚礼</p>
                  <ul class="tablist">
                      <li class="tab1 selected">婚礼策划</li>
                      <li class="tab2">婚纱摄影</li>
                      <li class="tab3">婚礼跟拍</li>
                      <li class="tab4">婚礼摄影</li>
                  </ul>
                  <div class="tabb">
                      <ul class="tab-select selected">
                          {% for mallStore in mallStores %}
                          <li>
                              <a href="/malldes?mallid={{mallStore.id}}&&n=4"><img src="\{{mallStore.url}}"
                                      alt=""></a>
                              <div class="miaoshu">
                                  <h3>111{{mallStore.title}}</h3>
                                  <p>{{mallStore.name}}</p>
                                  <span>{{mallStore.money}}起</span>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                      <ul class="tab-select">
                          {% for mallStore in mallStores %}
                          <li>
                              <a href="/malldes?mallid={{mallStore.id}}&&n=4"><img src="\{{mallStore.url}}"
                                      alt=""></a>
                              <div class="miaoshu">
                                  <h3>222{{mallStore.title}}</h3>
                                  <p>{{mallStore.name}}</p>
                                  <span>{{mallStore.money}}起</span>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                      <ul class="tab-select">
                          {% for mallStore in mallStores %}
                          <li>
                              <a href="/malldes?mallid={{mallStore.id}}&&n=4"><img src="\{{mallStore.url}}"
                                      alt=""></a>
                              <div class="miaoshu">
                                  <h3>333{{mallStore.title}}</h3>
                                  <p>{{mallStore.name}}</p>
                                  <span>{{mallStore.money}}起</span>
                              </div>
                          </li>
                          {% endfor %}
                      </ul>
                      <ul class="tab-select">
                           {% for mallStore in mallStores %}
                           <li>
                               <a href="/malldes?mallid={{mallStore.id}}&&n=4"><img src="\{{mallStore.url}}"
                                       alt=""></a>
                               <div class="miaoshu">
                                   <h3>44{{mallStore.title}}</h3>
                                   <p>{{mallStore.name}}</p>
                                   <span>{{mallStore.money}}起</span>
                               </div>
                           </li>
                           {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>
          <!-- 进选套餐结束 -->
{% endblock %}