     {% extends '../layout.html' %}
     {% block main %}
     <div class=" layui-tab layui-tab-card site-demo-title x-main" style="overflow:scroll;">
         <ul class="pager">
             <li style="float: left;" class="previous"><a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/showPic?page={{page-1}}">上一页</a></li>
             <li
                 style="margin-left:10px;width:300px;height:30px;line-height: 30px; text-align: center;background: gray;color:white;border-radius: 10px; float: left;">
                 共{{count}} 条，每页 {{limit}} 条，共 {{pages}} 页，第 {{page}} 页</li>
             <li style=" float: right;" class="next"> <a style="color:white;font-weight:bold;background: #ff6767;"
                     href="/admin/showPic?page={{page+1}}">下一页 </a></li>
         </ul>
         <xblock><button class="layui-btn layui-btn-danger" onclick="delAll()"></i>晒幸福列表</button>
             <span class="x-right" style="line-height:40px">共有数据：{{count}} 条</span></xblock>

         <table class="layui-table">
             <tr>
                 <th>ID</th>
                 <th>发表用户</th>
                 <th>晒幸福标题</th>
                 <th>晒幸福内容</th>
                 <th>发表时间</th>
                 <th>发表图片</th>
                 <th>操作</th>
             </tr>
             {% for showPic in showPics %}
             <tr>
                 <td>{{showPic._id.toString()}}</td>
                 <td>{{showPic.user}}</td>
                 <td>{{showPic.title}}</td>
                 <td>{{showPic.content}}</td>
                 <td>{{showPic.addTime|date('Y年m月d日 H:i:s', -8*60)}}</td>
                 <td><img src="/{{showPic.url}}" alt="" style="height:100px;height: 100px;border-radius: 10px;"></td>
                 <td>
                     <a href="/admin/showPic/delete?id={{showPic._id.toString()}}"><i
                             class="layui-icon">&#xe640;</i>删除</a>
                 </td>
             </tr>
             {% endfor %}
         </table>
     </div>
     {% endblock %}